---
title: AVM Opcodes
tableOfContents: false
---

import OpcodeFilters from "../../../../components/OpcodeFilters.astro";

<OpcodeFilters />

{{#each opcodes}}
### {{{headingText Name}}}

<div class="opcode-section"
     data-name="{{Name}}"
     data-version="v{{IntroducedVersion}}"
     data-groups="{{csv Groups}}">

    <details>
    <summary>
      <table class='opcode-table'>
        <thead>
          <tr>
            <th>Bytecode</th>
            <th>Stack Input</th>
            <th>Stack Output</th>
            <th>Size</th>
            <th>Availability</th>
            <th>Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{bytecode Opcode}}</td>
            <td>{{{valueList Args}}}</td>
            <td>{{{valueList Returns}}}</td>
            <td>{{Size}}</td>
            <td>v{{IntroducedVersion}}</td>
            <td>{{DocCost}}</td>
          </tr>
        </tbody>
      </table>
  </summary>

    :::note[Details]

    <span class="opcode-detail-caption">Description</span>
    {{#if Doc}}
    {{{mdxParagraphs Doc}}}
    {{else}}
    None
    {{/if}}

    {{#if DocExtra}}
    <span class="opcode-detail-caption">Notes</span>
    {{{mdxParagraphs DocExtra}}}
    {{/if}}

    <span class='opcode-detail-caption'>Groups</span>
    {{groupList Groups}}

    {{#if ImmediateNote}}
    <span class="opcode-detail-caption">Immediate Parameters</span>
    {{{immediateTable ImmediateNote}}}
    {{/if}}

    :::

  </details>

</div>

{{/each}}